<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
    <meta charset="UTF-8">
    <title>오늘할일</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div>
        <div>
            <span id="title">오늘할일</span>
            <button class="setting"></button>
        </div>
        <div class="date_">
            <span class="date">날짜</span>
        </div>
        <div>
            <div class="graph">
                <div id="graph_child">
                    <img src="/img/warning.png" alt="" id="warning">
                </div>
            </div>
            <div class="todolist">
                <form action="/todo/new" method="post">
                    <div class="todoadd">
                        <details>
                            <summary>
                                <p>오늘의 할일</p>
                            </summary>
                            <div class="todo_group">
                                <p>
                                    <lable for="preference_point">선호도</lable>
                                    <input type="number" min=0 max=5 name="preference_point" id="preference_point" placeholder="선호도를 지정해주세요">
                                    <lable for="importance_point">우선도</lable>
                                    <input type="number" min=0 max=5 name="importance_point" id="importance_point" placeholder="우선도를 지정해주세요">
                                </p>
                                <p>
                                    <lable for="text">할일</lable>
                                    <input type="text" name="text" id="text" placeholder="해야할 일을 적어주세요">
                                </p>
                                <p>
                                    <button type="submit" id="submit">추가하기</button>
                                </p>

                            </div>

                        </details>

                    </div>
                </form>
                <div>
                    <!--
                    <div >
                        <select th:field="*{sortingway}">
                            <option th:each="sortingway : ${sortingWays}" th:value="${sortingway.way}" th:text="${sortingway.displayName}">이름</option>
                        </select>
                    </div>
                    -->
                    <table>
                        <thead>
                        <tr>
                            <th id="th_done">완료</th>
                            <th id="th_id">#</th>
                            <th id="th_text">할일</th>
                            <th id="th_prept">선호도</th>
                            <th id="th_imppt">우선도</th>
                            <th id="th_delete">삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todo : ${todos}">
                            <td><input type="checkbox" onclick="todoDone(this)"></td>
                            <td id="todoid" th:text="${todo.id}"></td>
                            <td id="todotext" th:text="${todo.text}"></td>
                            <td id="todopre" th:text="${todo.preference_point}"></td>
                            <td id="todoimp" th:text="${todo.importance_point}"></td>
                            <td id="tododel"><button id="del_btn"><a th:href="@{/todo/delete/(id=${todo.id})}">삭제</a></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    var graph_=document.getElementById('graph_child');


    function todoDone(t){
        td=t.parentNode;
        td.style.backgroundColor=(t.checked) ? "#E0E0E0":"#FFFFFF";
        td.style.textDecoration=(t.checked) ? "line-through":"none";
        tr=t.parentNode.parentNode;
        tr.style.backgroundColor=(t.checked) ? "#E0E0E0":"#FFFFFF";
        tr.style.textDecoration=(t.checked) ? "line-through":"none";

    }

</script>
</body>
</html>