.graph, .todolist{
    width: 50%;
}

.graph{
    float:left;
}
#graph_child{
    width: 500px;
    height: 500px;
    background-color: #ACDF87;
    display: flex;
    justify-content: center;
}

#sortBox{
    margin-right: 5px;
}

.todo_group{
    border: 4px #76BA1B solid;
    border-radius: 10px;
    padding: 10px;
}

#text{
    width: 400px;
}


#warning{
    width: 100px;
    height: 100px;
    margin-top:40%;
}

.todolist{
    float:right;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

.date_{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.setting{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-color:#ACDF87;
    background-color: #ACDF87;
    float:right;
}

#submit{
    margin: 5px;
    width: 120px;
    height: 28px;
    font-size: 12px;
    background-color: #76BA1B;
    color: white;
    float: right;
    border:none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #76BA1B;
}

#th_done,#th_id,#th_delete,#th_imppt,#th_prept{
    width: 50px;
}

#del_btn{
    text-decoration: none;
    background-color: #76BA1B;
    color: white;
    border:none;
    margin:3px;
}

#month,#date{
    font-size: 20px;
    font-weight: bold;
}

#sorting{
    float:right;
}