<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
    <meta charset="UTF-8">
    <title>오늘할일</title>
</head>
<body>
<div class="container">
    <div>
        <form action="/todo/new" method="post">
            <div class="todoadd">
                <div class="todo_group">
                    <lable for="text">할일</lable>
                    <input type="text" name="text" id="text" placeholder="해야할 일을 적어주세요">
                    <lable for="preference_point">선호도</lable>
                    <input type="number" min=0 max=5 name="preference_point" id="preference_point" placeholder="선호도를 지정해주세요">
                    <lable for="importance_point">우선도</lable>
                    <input type="number" min=0 max=5 name="importance_point" id="importance_point" placeholder="우선도를 지정해주세요">
                </div>
                <button type="submit">추가하기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>