<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
    <meta charset="UTF-8">
    <title>오늘할일</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div>
        <div>
            <span id="title">오늘할일</span>
            <button class="setting"></button>
        </div>
        <div class="date_">
            <button onclick="minusdate()"><</button>
            <span id="month"></span>
            <span>  </span>
            <span id="date"></span>
            <button onclick="plusdate()">></button>
        </div>
        <div>
            <div class="graph">
                <div id="graph_child">
                    <!--
                    <img src="/img/warning.png" alt="" id="warning">
                    -->
                </div>
                <button onclick="addData()">ADD</button>
            </div>
            <div class="todolist">
                <form action="/todo/new" method="post">
                    <div class="todoadd">
                        <details>
                            <summary>
                                <span>오늘의 할일</span>
                            </summary>
                            <div class="todo_group">
                                <p>
                                    <lable for="preference_point">선호도</lable>
                                    <input type="number" min=0 max=5 name="preference_point" id="preference_point" value="0">
                                    <lable for="importance_point">우선도</lable>
                                    <input type="number" min=0 max=5 name="importance_point" id="importance_point" value="0">
                                </p>
                                <p>
                                    <lable for="text">할일</lable>
                                    <input type="text" name="text" id="text" placeholder="해야할 일을 적어주세요">
                                </p>
                                <p>
                                    <button type="submit" id="submit">추가하기</button>
                                </p>

                            </div>

                        </details>

                    </div>
                </form>
                <div>
<!--
                    <div >
                        <select th:field="*{sortingway}">
                            <option th:each="sortingway : ${sortingWays}" th:value="${sortingway.way}" th:text="${sortingway.displayName}">이름</option>
                        </select>
                    </div>
-->
                    <div>
                        <select name="" id="sorting">
                            <option value="sortbyId">기본</option>
                            <option value="sortbyImp">우선도</option>
                            <option value="sortbyPre">선호도</option>
                        </select>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th id="th_done">완료</th>
                            <th id="th_id">#</th>
                            <th id="th_text">할일</th>
                            <th id="th_prept">선호도</th>
                            <th id="th_imppt">우선도</th>
                            <th id="th_delete">삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todo : ${todos}">
                            <td><input type="checkbox" onclick="todoDone(this)"></td>
                            <td id="todoid" th:text="${todo.id}"></td>
                            <td id="todotext" th:text="${todo.text}"></td>
                            <td id="todopre" th:text="${todo.preference_point}"></td>
                            <td id="todoimp" th:text="${todo.importance_point}"></td>
                            <td id="tododel"><button id="del_btn"><a th:href="@{/todo/delete/(id=${todo.id})}">삭제</a></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>




    //날짜
    let day = new Date();
    let month = parseInt(day.getMonth()+1);
    let date = parseInt(day.getDate());
    document.getElementById('month').innerHTML = month+"월  ";
    document.getElementById('date').innerHTML = " "+date+"일";

    let month_group=[31,28,31,30,31,30,31,31,30,31,30,31];

    function minusdate(){
        if(date-1==0){
            month=month-1;
            date=month_group[month-2];

        } else{
            date=date-1;
        }
        document.getElementById('month').innerHTML = month+"월  ";
        document.getElementById('date').innerHTML = " "+date+"일";
    }
    function plusdate(){
        if(date+1==month_group[month-1]){
            month=month+1;
            date=1;

        } else{
            date=date+1;
        }
        document.getElementById('month').innerHTML = month+"월  ";
        document.getElementById('date').innerHTML = " "+date+"일";
    }

    //완료
    function todoDone(t){
        td=t.parentNode;
        td.style.backgroundColor=(t.checked) ? "#E0E0E0":"#FFFFFF";
        td.style.textDecoration=(t.checked) ? "line-through":"none";
        tr=t.parentNode.parentNode;
        tr.style.backgroundColor=(t.checked) ? "#E0E0E0":"#FFFFFF";
        tr.style.textDecoration=(t.checked) ? "line-through":"none";

    }

    //그래프
    var graph_=document.getElementById('graph_child');
    var xArray = [];
    var yArray = [];
    var data_graph = [{
        x: xArray,
        y: yArray,
        mode: "markers",
        marker:{
            size:12,
            color:"#76BA1B"
        },
        type: "scatter"
    }];

    var layout={
        xaxis: {
            range: [0,5]
        },
        yaxis: {
            range: [0,5]
        }
    };

    Plotly.newPlot(graph_,data_graph,layout);


    function addData(){
        xArray.push(Math.floor(Math.random()*5));
        yArray.push(Math.floor(Math.random()*5));
        console.log(xArray);
        console.log(yArray);
        Plotly.newPlot(graph_,data_graph,layout);
    }

</script>
</body>
</html>